/* Timeline.scss */
.timeline {
    max-height: 80vh;
    overflow-y: scroll;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    .timeline-event {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
    }
  
    .event-date {
      min-width: 80px;
      font-weight: bold;
    }
  
    .event-content {
      margin-left: 20px;
    }
  
    h2 {
      margin: 0;
    }
  
    p {
      margin: 0;
    }
  
  }
  